services:
  wholebody-pose-cpu:
    build:
      context: ..                       # build context is the parent directory 
      dockerfile: docker/Dockerfile.cpu
    image: wholebody-pose-cpu          # name of the image
    container_name: wholebody-pose-cpu # name of the container
    deploy:
      resources:
        limits:
          memory: 8g
          cpus: '4.0'
    volumes:
      - ../:/workspace
    ports:
      - "8888:8888"
    environment:      
      - DISPLAY=host.docker.internal:0.0
    stdin_open: true
    tty: true

# from root of the project:
#docker compose -f docker/docker-compose-cpu.yaml up --build
#docker compose -f docker/docker-compose-cpu.yaml up --remove-orphans